<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mycss.css') }}">
</head>
<body>
    <h1><b>ADD BOOK</b></h1>
    <form action="/launch" method="post">
        <label for="name">Enter Book Name:</label>
        <input type="text" name="name"><br><br>
        <label for="author">Enter Book Author</label>
        <input type="text" name="author"><br><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>